.site-main-menu > ul > li > a {
  font-size: 12px;
  padding: 40px 8px !important;
}
.mynav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: baseline;
}
@media screen and (max-width: 991px) and (min-width: 766px) {
  .mynav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 766px) and (min-width: 574px) {
  .mynav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 574px) and (min-width: 465px) {
  .mynav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 465px) and (min-width: 405px) {
  .mynav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 405px) and (min-width: 321px) {
  .mynav {
    justify-content: space-between;
  }
}
@media screen and (max-width: 321px) and (min-width: 220px) {
  .mynav {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1326px) and (min-width: 992px) {
  .down_tripu{
    width: 49% !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px){
  .down_tripu{
    width: 70% !important;
  } 
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .down_tripu{
    width: 60% !important;
  }

  p.paragraph_tripu {
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) and (min-width: 450px) {
  .down_tripu{
    width: 55% !important;
  }
}

@media screen and (max-width: 450px) and (min-width: 350px) {
  .down_tripu{
    width: 65% !important;
  }
}

@media screen and (max-width: 350px) and (min-width: 230px) {
  .down_tripu{
    width: 100% !important;
  }
  p.paragraph_tripu {
    font-size: 19px;
  }
}


/*/===========================================================/*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-title-two .sub-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .section-title-two .title {
    font-size: 15px;
    line-height: 2.1;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-title-two .sub-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .section-title-two .title {
    font-size: 38px;
  }
}
@media only screen and (max-width: 767px) {
  .section-title-two .sub-title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .section-title-two .title {
    font-size: 28px;
    line-height: 36px;
  }
}
